.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  width: 50%;
  padding: 20px;
  border-radius: 5px;
}
.profile-image-url {
  height: 40px;
  width: 40px;
}
.profile-heading {
  color: #6366f1;
}
.profile-description {
  color: #64748b;
}
.loader-container {
  min-height: 100vh;
  background-color: #000000;
  padding: 100px;
}
.label-para {
  color: #ffffff;
}
.left-part-container {
  width: 40vw;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.head-rise {
  width: 50%;
  margin: 0px;
  color: #7e858e;
}
.profile-bottom-container {
  margin-top: 30px;
}
.type-of-emp-text {
  color: #ffffff;
  font-size: 20px;
}
.label-input {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.label-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.retry-btn {
  cursor: pointer;
}
.un-order-list-container {
  list-style-type: none;
}
